<html lang="ru">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<meta property="og:title" content="{{.MetaTitle}}" />
		<meta property="og:type" content="article" />
		<meta property="og:description" content="{{.Description}}" />

		<title>{{.Title}}</title>

		<meta name="go-import" content="{{.StudSitePath}}/bot git https://github.com/far-galaxy/l9_stud_bot">
		<meta name="go-source" content="{{.StudSitePath}}/bot https://github.com/far-galaxy/l9_stud_bot https://github.com/far-galaxy/l9_stud_bot/tree/main{/dir} https://github.com/far-galaxy/l9_stud_bot/blob/main{/dir}/{file}#L{line}">

		<link rel="icon" type="image/x-icon" href="/favicon.ico">
		<meta name="{{.VerificationName}}" content="{{.VerificationContent}}" />
		

	</head>
	<body>
		Тут будет сайт про l9_stud_bot, а пока это просто ссылка для импорта
	</body>
</html>