<html lang="ru">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
		<meta property="og:title" content="{{.MetaTitle}}" />
		<meta property="og:type" content="article" />
		<meta property="og:description" content="{{.Description}}" />

		<title>{{.Title}}</title>

        <meta name="go-import" content="{{.StudSitePath}}/site git https://github.com/far-galaxy/stud.l9labs.ru">
		<meta name="go-source" content="{{.StudSitePath}}/site https://github.com/far-galaxy/stud.l9labs.ru https://github.com/far-galaxy/stud.l9labs.ru/tree/master{/dir} https://github.com/far-galaxy/stud.l9labs.ru/blob/master{/dir}/{file}#L{line}">

		<link rel="icon" type="image/x-icon" href="/favicon.ico">
		<meta name="{{.VerificationName}}" content="{{.VerificationContent}}" />
		

	</head>
	<body>
		Тут будет сайт про экосистему l9_stud, в которую пока что входит только
        <a href="/bot">l9_stud_bot</a>
	</body>
</html> 